{% extends "layout.html" %}

{% block content %}

<!-- featured items section -->
<section>

    <!--heading-->
    <h2>Home Page</h2>
    <div class="row">
        <div class="resultsItem1">

            <!--heading-->
            <h3>Featured</h3>

            <!--navigation button-->
            <a class="nav-button" href="#">View all Featured</a>

            <!--bar section displaying featured games-->
            <div class="clearfix">
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/buffaloblitz.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/gonzosquest.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/amazingfactory.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/roulette.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/bluewizard.jpg') }}">
                </div>
            </div>
        </div>

        <div class="resultsItem1">

            <!--heading-->
            <h3>New</h3>

            <!--navigation button-->
            <a class="nav-button" href="#">View all New</a>

            <!--bar section displaying new games-->
            <div class="clearfix">
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/BookOfKings.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/christmascarol.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/hotgems.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/queenofwonderland.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/santakingmegaways.jpg') }}">
                </div>
            </div>
        </div>

        <div class="resultsItem1">

            <!--heading-->
            <h3>Slots</h3>

            <!--navigation button-->
            <a class="nav-button" href="#">View all Slots</a>

            <!--bar section displaying new games-->
            <div class="clearfix">
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/Cleopatra.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/EyeofHorus.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/FishingFrenzy.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/reelking.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/slingofluffy.jpg') }}">
                </div>
            </div>
        </div>

        <div class="resultsItem1">

            <!--heading-->
            <h3>Jackpot</h3>

            <!--navigation button-->
            <a class="nav-button" href="#">View all Jackpot</a>

            <!--bar section displaying new games-->
            <div class="clearfix">
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/FishingFrenzy.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/KingKongCash.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/FluffyMegaJackpot.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/piggyriches.jpg') }}">
                </div>
                <div class="img-container">
                    <img class="img-size" src="{{ url_for('static', filename='images/home_page/CloverRollover.jpg') }}">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

