{% extends "layout.html" %}

{% block content %}

<section>
    <!--heading-->
    <h2>Login</h2>

    <div id="searchBar" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="GET" action="#" class="form-inline">

                    <!--username text box-->
                    <label><b>Username</b></label>
                    <input placeholder="Enter Username or Email" name="uname" type="text" class="form-control w-100" />

                    <!--password text box-->
                    <label><b>Password</b></label>
                    <input placeholder="Enter Password" name="psw" type="password" class="form-control w-100" />
                </form>
            </div>
        </div>

        <!--submit button & checkbox-->
        <button type="submit" class="btn ml-2">Login</button>
        <label><input type="checkbox" name="remember"> Remember me</label>
        <div class="col-md-3"></div>

        <!--link text-->
        <span><a href="#">Forgot your login details?</a></span>
        <div class="col-md-3"></div>

        <label><b>Don't have an account yet?</b></label>
        <div class="col-md-3"></div>

        <!--redirecting page button-->
        <a class="nav-button" href="{{ url_for('registration') }}">Register now</a>
    </div>
</section>

{% endblock %}