{% extends "layout.html" %}

{% block content %}

<section>

    <!--heading-->
    <h2>Registration</h2>

    <div id="searchBar" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="GET" action="#" class="form-inline">

                    <!--first name text box-->
                    <label><b>First Name</b></label>
                    <input placeholder="Enter your first name" name="fname" type="text" class="form-control w-100" />

                    <!--last name text box-->
                    <label><b>Last Name</b></label>
                    <input placeholder="Enter your last name" name="lname" type="text" class="form-control w-100" />

                    <!--gender tick box-->
                    <p><label><b>Gender</b></label></p>
                    &nbsp &nbsp &nbsp &nbsp
                    <p><label><input type="checkbox" name="Male">Male</label></p>
                    &nbsp &nbsp
                    <p><label><input type="checkbox" name="Female">Female</label></p>
                    <div class="col-md-12"></div>

                    <!--date of birth input-->
                    <p><label><b>Date of Birth</b></label></p>
                    <div class="col-md-12"></div>
                    <p><input type="date" id="birthday" name="birthday"></p>
                </form>

                <form method="GET" action="#" class="form-inline">

                    <!--email text box-->
                    <label><b>Email</b></label>
                    <input placeholder="Enter your email" name="email" type="text" class="form-control w-100" />

                    <!--phone number text box-->
                    <label><b>Phone Number</b></label>
                    <input placeholder="(0) Enter Phone Number" name="phone number" type="text" class="form-control w-100" />

                    <!--address text box-->
                    <label><b>Address Line One</b></label>
                    <input placeholder="Enter Address" name="addsress" type="text" class="form-control w-100" />

                    <!--address text box-->
                    <label><b>Address Line Two</b></label>
                    <input placeholder="Enter Address" name="address" type="text" class="form-control w-100" />

                    <!--post town text box-->
                    <label><b>Post Town</b></label>
                    <input placeholder="Enter Post Town" name="post town" type="text" class="form-control w-100" />

                    <!--post code text box-->
                    <label><b>Post Code</b></label>
                    <input placeholder="Enter Post Code" name="post code" type="text" class="form-control w-100" />

                    <!--username text box-->
                    <label><b>Username</b></label>
                    <input placeholder="Enter Username or Email" name="uname" type="text" class="form-control w-100" />

                    <!--password text box-->
                    <label><b>Password</b></label>
                    <input placeholder="Enter Password" name="psw" type="password" class="form-control w-100" />
                </form>

                    <!--terms and condition tick box-->
                    <p><label><b>Terms & Conditions</b></label></p>
                    <p><label><input type="checkbox" name="t&c">Keep me informed of offers, prizes and news by email, text, phone and post from us and our group companies</label></p>
                    <div class="col-md-3"></div>
                    <p><label><input type="checkbox" name="t&c">I am over 18</label></p>
                    <div class="col-md-3"></div>
                    <p><label><input type="checkbox" name="t&c">I accept the Term & Conditions</label></p>
                    <div class="col-md-3"></div>
                    <p><label><input type="checkbox" name="t&c">I accept the Privacy Policy</label></p>
                    <div class="col-md-3"></div>
                    <p><label><input type="checkbox" name="t&c">I accept the Age Verification Policy</label></p>
            </div>
        </div>

        <!--register button-->
        <a class="nav-button" href="#">Register</a>
    </div>
</section>

{% endblock %}