{% extends "layout.html" %}

{% block content %}

<!--heading-->
<h2>Virtual Sports</h2>

	<!-- this results container will contain dynamic data! -->
			<div id="searchBar" class="container">
				{% for obj in data %}
				{% if loop.index == 1 or (loop.index - 1) % 4 == 0 %}
				<div class="row">
					{% endif %}
					<!-- this is the area for the list of bets -->
					<div class="col-md-6">
						<div class="resultsItem">
							<!--heading-->
							<h3>{{ obj[0] }}</h3>

							<!--image-->
							<div class="resultsImg">
								<img src="{{url_for('static', filename=obj[5])}}">
							</div>

							<!--betting options-->
							<p><b>{{ obj[1] }}</b></p>
							<button type="submit" class="btn ml-2">{{ obj[3] }}/{{ obj[4] }}</button>
							<button type="submit" class="btn ml-2">{{ obj[4] }}/{{ obj[3] }}</button>
							<button type="submit" class="btn ml-2">{{ obj[4] }}/{{ obj[4] }}</button>
							<p><b>{{ obj[2] }}</b></p>
							<button type="submit" class="btn ml-2">{{ obj[4] }}/{{ obj[3] }}</button>
							<button type="submit" class="btn ml-2">{{ obj[3] }}/{{ obj[4] }}</button>
							<button type="submit" class="btn ml-2">{{ obj[3] }}/{{ obj[3] }}</button>
							<br class="clearfix">
						</div>
					</div>
					{% if loop.index % 4 == 0 %}
				</div>
				{% endif %}
				{% endfor %}
			</div>
{% endblock %}
