<!DOCTYPE html>
<html>
<head>
  <title>Trinity Bikes: Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href=main.css>
<!--
 {% if title %}
<title>Trinity Bikes-{{title}}</title>
{% else %}
<title>Trinity Bikes</title>
{% endif %}
-->

</head>
<body>

  <header class="site-header">
    <h1>Trinity Bikes<h1>
    <h2>Because Who Likes Travel Thats Fast and Free?<h2>
  </header>
  <!--
  <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for catagory, message in messages%}
                <div class="alert alert-{{ catagory }}">
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}

        </div>
-->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="login.html">Login</a>
    <a href="#">Register</a>
    <a href="#">Insurance Policy</a>
    <a href="#">Booking Page</a>
  </div>
  <span id="open" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
  <br><br><br>
  <h3>Need help finding one of our bikes?</h3>

  <div class="mapouter" >
    <div class="gmap_canvas">
      <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=ls18%205hd&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
    </div>
  </div>
    </main>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>

      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Contact Us</h3>
                      <ul>
                          <li>Telephone: <a href="tel:07123456789">07123456789</a></li>
                          <li>Email: <a href="mailto:trinitybikes@leedstrinity.ac.uk">trinitybikes@leedstrinity.ac.uk</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Or Send a letter to</h3>
                      <ul>
                          <li>Trinity Bikes Admin Team</li>
                          <li>Leeds Trinity University</li>
                          <li>Horsforth</li>
                          <li>LS18 5HD</li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>Our Promise</h3>
                      <p>Here at Trinity Bikes we are concerned about our environment, and the effect that the excessive use of public transport - by those who may need to buy food, go to the dentist or even visit relatives - may be having on it. We thought it would be better to ship over 200 bicycles from a sweatshop across the globe to provide what is clearly a more morally sound mode of transport for Leeds Trinity students. Each would-be-free coach ride is now an upwards redistribution of wealth.</p>
                      <h4> Thank you for choosing Trinity Bikes! </h4>
                  </div>
              </div>
              <p class="copyright">Trinity Bikes © 2021</p>
            </div>
      </footer>
</body>
</html>
