{% extends 'base.html' %}

{% block content %}
	
	<h2>Average weekly rent by locality</h2>
	<div class="card-group">
	{% for loc in avg_prices %}
		<div class="card bg-dark text-white">
			<div class="card-body">
				<h3 class="card-title">{{ loc.locality }}</h3>
				<p class="card-text">&pound;{{ loc.avg_price }} per week</p>
			</div>
		</div>
	{% endfor %}
	</div>
		
{% endblock %}
