{% extends 'base.html' %}

{% block content %}
<form>
<label for="username">username</label>
<input type="name" name="username" id="username" class="form-control" placeholder="username" required autofocus>
<label for="password">password</label>
<input type="password" name="password" id="password" class="form-control" placeholder="password" required>
<button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Log in</button>
</form>
{% endblock %}
