<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>LTU Digz: {{ page }}</title>
</head>
<body>
	<div>
		<h1>Digz'R'Us</h1>
		{% block content %}
			<p>Default content!</p>
		{% endblock %}
	</div>
</body>
</html>
