header{
  display:block;
  margin-bottom: 20px;
  height:80px;
  background-color:#339933;
  color:white;
  z-index: 3;
  text-align:center;
}
footer{
  margin-top:300px;
  background-color: #696969;
  padding: 20px;
  color: white;
  z-index:2;
}

body {
  font-family: "Lato", sans-serif;
}

h1{
  font-family: "verdana";
  font-weight: bold;
}

h2{
  font-family: "verdana";
  font-size: 10px;
}

h3{
  text-align:center;
  font-size:20px;
  font-weight:Bold;
}
.sidenav {
  margin-top:80px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #004d00;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  right: 0px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  overflow:hidden;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #696969;
}

.sidenav .closebtn {
  position: absolute;
  top: 50px;

  font-size: 36px;

}

.closebtn{
  right: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#open{
  float:right;
  margin-right:75px;
}

.mapouter{
  position:relative;
  text-align: center;
  left:20%;
  width:60%;
  height:auto;
}

.gmap_canvas {
    text-align: center;
    overflow:hidden;
    background:none!important;

    width:100%;
    height:auto;
  }
#gmap_canvas{
  padding: 30px;
  float:center;
  top:100px;
  margin-left:auto;
  margin-right: auto;
}

footer {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
  padding:5px;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

footer ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  footer .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

footer.item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  footer .item.text {
    margin-bottom:0;
  }
}

footer .item.text p {
  opacity:0.6;
  margin-bottom:0;
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}


footer .item.social > a:hover {
  opacity:0.9;
}

footer .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

footer h4{
  text-align:center;
  font-size:18px;
}
